<div class="container flex-center container-ns">
    <form id="ajouterUtilisateur" class="text-center border border-light p-5" method="POST" action="../Controller/AjouterutilisateurController.php">
        <p class="h4 mb-4">Ajouter un utilisateur</p>
        <input class="form-control mb-4" type="user" name="username" placeholder="Identifiant">
        <input class="form-control mb-4" type="password" class="form-control" name="password" placeholder="Mot de passe">
        <label>Administrateur ?</label><input type="checkbox" class="form-control" name="administrateur" value="true">
        <br/><br/>
        <button type="submit" name="btnAjouter"  class="btn btn-info btn-block my-4">Ajouter</button>
    </form>
</div>
<br/>
<div>
   <form id="retour" method="POST" action="../Controller/MenugestionutilisateurController.php" style="width: 200px">
        <button type="submit" name="btnRetour"  class="btn btn-info btn-block my-4">Retour</button>
    </form>
</div>
<div>
    <form id="deconnexion" method="POST" action="../Controller/FrontController.php" style="width: 200px">
        <button type="submit" name="btnDeconnexion"  class="btn btn-info btn-block my-4">Déconnexion</button>
    </form>
</div>
