<div class="container flex-center container-ns">
    <h1>Bienvenue sur le portail de WORLDINFO</h1><br />
    <hr>
    <form id="connexion" class="text-center border border-light p-5" method="post" action="../Controller/FrontController.php">
        <p class="h4 mb-4">Connexion</p>
        <!-- Identifiant -->
        <input type="text" name="username" class="form-control mb-4" placeholder="Votre identifiant">
        <!-- Password -->
        <input type="password" name="password" class="form-control mb-4" placeholder="Votre mot de passe">
        <button name="btnConnexion" class="btn btn-info btn-block my-4" type="submit">valider</button>
    </form>
</div>



