<form method="post" action="../Controller/DemandeInterventionController.php">
    <h1>Demande d'intervention</h1>
    <hr>
    <label>Date de la demande : </label><input type="date" name="date">
    <br />
    <label>Votre nom : </label><input type="text" name="nom">
    <label>Bureau n° : </label><input type="text" name="bureau">
    <br />
    <hr>

    <label>Votre problème concerne : </label>
    <br />
    <!-- Group of default radios - option 1 -->
    <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" id="defaultGroupExample1" name="groupOfDefaultRadios">
        <label class="custom-control-label" for="defaultGroupExample1">Un ou plusieurs ordinateur(s)</label>
    </div>
    <!-- Group of default radios - option 2 -->
    <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" id="defaultGroupExample2" name="groupOfDefaultRadios" checked>
        <label class="custom-control-label" for="defaultGroupExample2">Tous les ordinateurs</label>
    </div>
    <!-- Group of default radios - option 3 -->
    <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" id="defaultGroupExample3" name="groupOfDefaultRadios">
        <label class="custom-control-label" for="defaultGroupExample3">Une imprimante</label>
    </div>
    <!-- Group of default radios - option 4 -->
    <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" id="defaultGroupExample4" name="groupOfDefaultRadios">
        <label class="custom-control-label" for="defaultGroupExample4">Autre</label>
    </div>
    <hr>

    <label>Eventuellement, saisissez le ou les numéro(s) d'ordinateur(s) qui vous pose(nt) un problème :</label><input type="text" name="num_ordi">
    <br />
    <label>Décrivez précisément votre problème :</label><textarea rows="10" cols="50" name="remarque"></textarea>
    <br />
    <button type="submit">Valider</button>
</form>


