<h2>Menu</h2>
<br/>
<div>
    <form id="demandeIntervention" method="POST" action="../Controller/DemandeInterventionController.php">
        <button type="submit" name="btnDemandeIntervention">Demande d'intervention</button>
    </form>
</div>
<br/><br/>

<!-- si admin -->
<?php if($admin): ?>
<div>
    <form id="suiviIntervention" method="POST" action="../Controller/SuiviInterventionController.php">
        <button type="submit" name="btnSuiviIntervention">Suivi des Interventions</button>
    </form>
</div>
<br/><br/>
<div>
    <form id="gestionUtilisateur" method="POST" action="../Controller/MenugestionutilisateurController.php">
        <button type="submit" name="btnGestionUtilisateur">Gestion des utilisateurs</button>
    </form>
</div>
<br/><br/>
<?php endif; ?>
<div>
    <form id="deconnexion" method="POST" action="../Controller/FrontController.php">
        <button type="submit" name="btnDeconnexion">Déconnexion</button>
    </form>
</div>
